# Hybrid ARIMA-SVM Model
***

In [3]:
# Setup
import pandas as pd
import numpy as np

***

In [5]:
# Read raw data
oil_data = pd.read_csv('Crude Oil Data/Full_crude_oil_data.csv')
oil_data.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
0,0,2021-11-01,83.360001,84.879997,82.739998,84.050003,84.050003,412309
1,1,2021-11-02,83.870003,84.410004,82.919998,83.910004,83.910004,429608
2,2,2021-11-03,83.070000,83.080002,79.690002,80.860001,80.860001,546577
3,3,2021-11-04,80.180000,83.419998,78.250000,78.809998,78.809998,701119
4,4,2021-11-05,79.370003,81.800003,78.959999,81.269997,81.269997,531054